.div1 {
  background-color: yellow;
  color: red;
  border: 2px dotted blue;
  height: 200px;
  width: 200px;
}
h1 {
  color: aqua;
  font-size: large;
}
h3 {
  background-color: yellow;
  border: 5px solid black;
  color: red;
}
